.indexPage{
 background-color: #cde5ed;
  height: 92vh;

  .title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 48px;
    color: #1e0909;
    text-shadow: 2px 2px 2px #ccc;
  }
  .subtitle{
    color: #1e0909;
    margin-top: 48px;
    text-align: center;
  }
  .enterBtn{
    margin-top: 48px;
    width: 60vw;
  }
  .heardBg{

  }
}


