.answerPage{
  height: 92vh;
  .radio{
    margin-top: 20px;
  }
  .nextBtn{
    margin-top: 20px;
    width: 60vw;
  }
  .resultBtn{
    margin-top: 20px;
    width: 60vw;
  }
  .lastBtn{
    margin-top: 20px;
    width: 60vw;
  }
}


